@model List<ResultFrequentlyQuestion>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<div class="container d-flex justify-content-between px-3 mt-2">
    <h4 class="text-secondary"> En Sık Sorulan Sorular</h4>
    <p>
        <a asp-action="Create" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i>
            Yeni Ekle
        </a>
    </p>
</div>


<table class="table">
    <thead class="bg-dark">
        <tr class="text-light">
            <th>No</th>
            <th>Soru</th>
            <th>Cevap</th>
            <th> İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            count++;
            <tr>
                <th>@count</th>
                <td class="text-primary">@item.Question</td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-@item.Id">
                        <i class="bi bi-envelope"></i> Oku
                    </button>

                </td>

            </tr>
        }
    </tbody>
</table>


@foreach (var modul in Model)
{
    <!-- Modal -->
    <div class="modal fade" id="modal-@modul.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">@modul.Id .Soru </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4 class="text-decoration-underline">Soru :</h4>
                    <p>@modul.Question</p> 
                    <hr />
                    <br />
                    <h4 class="text-decoration-underline"> Cevap :</h4>
                    <p>@modul.Answer</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}